* {
    margin: 0;
    padding: 0;
    font-family:  Arial ;
}

/*
PALETA DE CORES: 
VERMELHO: #BF6550
BRANCO: #F2F2F2
PRETO : #0D0D0D
AZUL CLARO : #05C7F2
AZUL :#05AFF2
*/

body {
    background-color: #f2f2f2;
}
.logo {
    display: flex;
    justify-content: center;
    padding: 80px ;
}
.logo h1{
    
    color: #0d0d0d;
    font-size: 6em ;
}
.botoes {
    display: flex;
    justify-content: center;
}
.btn {
    color: #f2f2f2;
    font-size: 20px ;
    margin: 10px ;
    padding: 1em ;
    width: 230px ;
    outline: none ;
    border: none ;
    background-color: #bf6550;
    border-radius: 10px ;
    cursor: pointer;
    
}
.btn:hover {
    transition: 0.2s ;
    box-shadow: 0.5px 1px 5px #0d0d0d;
}